<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>752897831808-9k3kqmkja8jobrlnbfflu1ekr1rcqo3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.752897831808-9k3kqmkja8jobrlnbfflu1ekr1rcqo3c</string>
	<key>API_KEY</key>
	<string>AIzaSyC0_W5Oes0F7BqBU2Zw6PoPqpJj_7qNNJo</string>
	<key>GCM_SENDER_ID</key>
	<string>752897831808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eduardoceron.Padry</string>
	<key>PROJECT_ID</key>
	<string>padrink-7d785</string>
	<key>STORAGE_BUCKET</key>
	<string>padrink-7d785.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752897831808:ios:42e850a56a912f6ad84765</string>
</dict>
</plist>